////////Single_page/////////

@import 'variables.scss';

@mixin smargin($top) {
    margin: $top auto;
}

* {
    box-sizing: border-box;
}

//////EXTENDS/////////

.square {
    margin: 0 11px 0 0;
    width: 12px;
    height: 12px;
}

.flexcentr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexcentrs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.font_l-h {
    line-height: 20px;
    text-transform: uppercase;
}

.he777 {
    height: 777px;
}

.pw {
    width: $page-width;    
}

.sw {
    width: $screen-width;    
}

//////COMMON STYLES/////////
  
.outter-box1 {
    @include smargin(0);
    border: 1px solid #eaeaea;
    }


.flexbox {
    @include smargin(0);
    @extend .flexcentrs;
}

.hc1 {
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: $color-pink;
    @extend .font_l-h;
}

.hc2 {
    font-size: 14px;
    font-weight: 300;
    color: #636363;
    @extend .font_l-h;
}

.hc3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
}

.hc4 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #2f2f2f;
}

.p1c {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #5e5e5e;
    text-align: center;
}

.hc5 {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #6f6e6e;
}

.pink-bold7 {
font-weight: 700;
color: $color-pink;
}

.dark-grey {
    color: #4d4d4d;
}

.light-grey {
    color: #b9b9b9;
}

.mgr44 {
    margin-right: 44px;
}

.mgt67 {
    margin-top: 67px;
}

.mgb42 {
    margin-bottom: 42px;
}

.lsi{  //link style inherit
    color: inherit; /* blue colors for links too */
    text-decoration: inherit;
}

.bd-top-no {  //no top border for child boxes
    border-top: none;
}

///////////////breadcrum

.breadcrum {
   height: 148px;
   background-color: #f8f3f4;
   @extend .flexcentr;
}


//////////////product-slide

.product-slide {
    height: 777px;
    background-color: #f7f7f7;
    @extend .flexcentr;
    @include smargin(0);
    border: 0 1px 1px 1px solid #eaeaea;

    &_arrow {
        @extend .flexcentr;
        width: 47px;
        height: 47px;
        background-color: rgba(42,42,42,0.14);
        font-size: 24px;
        line-height: 24px;
        font-weight: 400;
        color: #ffffff;
        &:hover {
            background-color: rgba(42,42,42,0.5);
        }

    }
    &_productimg {
        display: block;
        margin: 11px 0 0 0;
        align-self: flex-start;
    }
}

//////////////product-data

.product-data-anchor {
    @include smargin(0);
    position: relative;
    height: 703px;
    @extend .flexcentr;
}

.product-data {
    position: absolute;
    top: -80px;
    width: $page-width;
    height: 730px;
    background-color: #ffffff;
    padding: 73px 261px 122px;

    @extend .flexcentr;
    flex-direction: column;
    
    &_info {
        margin-top: 22px;
        @extend .flexcentrs;
        width: 336px;
    }
    &_price {
        margin-top: 37px;
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        color: $color-pink;
    }
    &_buttons {
        @extend .flexcentrs;
        flex-wrap: wrap;
        height: 160px;
        width: 537px;
        // &_item{
                
        //      }
        &_add {
                @extend .flexcentr;
                width: 537px;
                height: 55px;
                border: 1px solid $color-pink;
                background-color: #ffffff;
                &_text {
                    font-size: 16px;
                    line-height: 1.2;
                    font-weight: 700;
                    color: $color-pink;
                    }
                &_img {
                    margin: 0 8px 0 0;
                    }    
                

            }
    }
}

.hr-line-g {
    margin: 43px 0 63px 0;
    height: 1px;
    width: 100%;
    background-color: #eaeaea;
}

.slider3 {
    @extend .flexcentr;
    margin: 14px auto 17px;
    width: 147px;
    &_item{
        width: 42px;
        height: 1px;
        background-color:#eaeaea;
    }
    &_itemb{
        width: 63px;
        height: 3px;
        background-color: $color-pink;
    }
}

.red-square {
    @extend .square;
    background-color: $color-pink;
}

.black-square {
    @extend .square;
    background-color: #000;
}

.aquamarine-square {
    @extend .square;
    background-color: aquamarine;
}

.choose-value {
    margin: 16px 0 28px 0;
    position: relative;
    &_summary {
        z-index: 3;  
        padding: 9px 9px 9px 14px;
        width: 144px;
        height: 35px;
        border: 1px solid #eaeaea;
        @extend .flexcentrs;
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        color: #bcbcbc;
        background-color: #ffffff;
    }
    &_color {
        @extend .flexcentr;
    }
    &[open] &_summary_arrow{
        transform: rotate(180deg);
    }
    &_box {
        position: absolute;
    }
}


.f-items_catalog_row_cell_img {
    @extend .flexcentr;
    background-color: #e9e9e9;
    width: 261px;
    height: 280px;
}